/* Index Carousel */
.myIndexCarousel {
  margin-bottom: 30px;
}

.myIndexCarousel .carousel-indicators li {
  background-color: #beddf0;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
}

.myIndexCarousel .carousel-inner .imgPC {
  width: 100%;
}

.myIndexCarousel .carousel-inner .imgPhone {
  display: none;
}

@media screen and (max-width: 768px) {
  .myIndexCarousel {
    margin-bottom: 20px;
  }
  .myIndexCarousel .carousel-indicators li {
    width: 3.5vw;
    height: 3.5vw;
  }
  .carousel-indicators {
    bottom: -15px;
  }
}


@media (max-width: 499px) {
  .myIndexCarousel .carousel-inner .imgPC {
    width: 100%;
    display: none;
  }
  .myIndexCarousel .carousel-inner {
    width: 100%;
    height: auto;
  }

  .myIndexCarousel .carousel-inner .imgPhone {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* INDEX-MODEL */
.modal-body {
  padding: 5px;
}

.modalWidth {
  min-width: 70%;
  max-width: 89%;
  padding-top: 3rem;
  padding-right: 1px;
}

.radiusBorder {
  border: 1px solid #47a3da;
  border-radius: 20px;
  /* 高度 */
  margin: 0px 5px 0px 5px;
}

.tab {
  width: 100%;
}
.tab a {
  width: 30%;
  color: gray;
  text-align: center;
  border-bottom: 1px;
  border-bottom: 1px solid gray;
}

.storeDetail {
  padding: 0 3% 0 3%;
  color: gray;
}
.storeDetailTitle {
  border-left: 5px solid #47a3da;
  margin: 10px 0 1rem 1rem;
  padding-left: 1rem;
  font-size: 2rem;
}
.storeDetailText {
  position: relative;
  left: 5rem;
  padding-right: 10rem;
  font-size: 1.5rem;
}
