/* Part 1 */
.top {
    margin-bottom: 15vh;
}

@media screen and (max-width:768px) {
    .top {
        margin-top: 7vh;
        margin-bottom: 15vh;
    }
}
/* End */

/* Part 2 */
.body_logo {
    text-align: center;
    margin-bottom: 3vh;
}

.body_logo img {
    width: 36vh;
}

@media screen and (max-width:768px) {
    .body_logo {
        text-align: center;
        margin-bottom: 1vh;
    }

    .body_logo img {
        width: 16vh;
    }
}
/* End */

/* Part 3 */
.about {
    height: 220vh;
    background-image: url('../img/introduction/BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about_top {
    text-align: center;
    font-size: 2rem;
    color: #0096DB;
}

.about_img1 {
    width: 35vw;
    margin-left: 5vw;
    margin-top: 80vh
}

.about_img2 {
    position: absolute;
    top: 83vh;
    left: 18vw;
    width: 28vw;
}

.about_title {
    font-size: 3rem;
    color: #FFF !important;
    margin-top: 80vh;
}

.about_content {
    font-size: 1.5rem;
    color: #FFF !important;
    width: 35vw;
    margin-top: 10vh;
    line-height: 5vh;
}

.about_icon {
    margin-top: 10vh;
    width: 25%;
}

@media screen and (max-width:768px) {
    .about {
        height: 120vh;
    }
    
    .about_top {
        text-align: center;
        font-size: 1rem;
        color: #0096DB;
    }

    .about > div.row > div.col-md-6 {
        height: 60vh;
    }

    .about_img1 {
        position: absolute;
        top: -59vh;
        left: 15vw;
        width: 65vw;
        z-index: 1;
    }

    .about_img2 {
        position: absolute;
        top: 20vh;
        left: 22vw;
        width: 65vw;
        z-index: 2;
    }

    .about_title {
        font-size: 1.5rem;
        color: #FFF !important;
        margin-top: 0;
        margin-left: 15vw;
    }

    .about_content {
        font-size: 1rem;
        color: #FFF !important;
        width: 70vw;
        margin-top: 2vh;
        margin-left: 15vw;
        line-height: 4vh;
    }

    .about_icon {
        position: absolute;
        top: -8vh;
        left: 70vw;
        margin-top: 0vh;
        width: 20%;
    }
}
/* End */

/* Part 4 */
.RND {
    height: 40rem;
}

.RND_I {
    margin-left: 10vw;

}

.RND_title {
    font-size: 3.5rem;
}

.RND_ICON {
    position: absolute;
    top: -10vh;
    left: 35vw;
    width: 20%;
}

.RND_content {
    font-size: 1.5rem;
    margin-left: 10vw;
    margin-top: 10vh;
}

.RND_img1 {
    position: absolute;
    top: -10vh;
    left: 10vw;
    z-index: 2;
    box-shadow:3px 3px 12px grey;
}

.RND_img2 {
    position: absolute;
    top: 0vh;
    left: 20vw;
    z-index: 1;
    box-shadow:3px 3px 12px grey;
}

@media screen and (max-width:768px) {
    .RND {
        height: 17rem;
        margin-top: 30vh;
    }

    .RND_I {
        margin-left: 10vw;
        width: 1.5vw;
    }

    .RND_title {
        font-size: 2rem;
    }

    .RND_content {
        font-size: 1rem;
        margin-left: 10vw;
        margin-top: 2vh;
        margin-right: 10vw;
    }

    .RND_ICON {
        position: absolute;
        top: -5vh;
        left: 70vw;
        width: 20%;
    }

    .RND_img1 {
        position: absolute;
        top: -42vh;
        left: 10vw;
        width: 40vw;
        z-index: 2;
        box-shadow:3px 3px 12px grey;
    }

    .RND_img2 {
        position: absolute;
        top: -40vh;
        left: 55vw;
        width: 40vw;
        z-index: 1;
        box-shadow:3px 3px 12px grey;
    }
}
/* End */

/* Part 5 */
.store {
    height: 35rem;
}

.store_img {
    position: absolute;
    left: 10vw;
    box-shadow:3px 3px 12px grey;
    height: 38vh;
}

.store_I {
    margin-left: 5vw;

}

.store_title {
    font-size: 3.5rem;
}

.store_ICON {
    position: absolute;
    top: -10vh;
    left: 30vw;
    width: 20%;
}

.store_content {
    font-size: 1.5rem;
    margin-left: 5vw;
    margin-top: 10vh;
    width: 38vw;
}

@media screen and (max-width:768px) {
    .store {
        height: 14rem;
        margin-top: 40vh;
    }  

    .store_img {
        position: absolute;
        top: -35vh;
        left: 15vw;
        height: 23vh;
        box-shadow:3px 3px 12px grey;
    }

    .store_I {
        margin-left: 10vw;
        width: 1.5vw;
    }

    .store_title {
        font-size: 2rem;
    }
    
    .store_ICON {
        position: absolute;
        top: -5vh;
        left: 70vw;
        width: 20%;
    }

    .store_content {
        font-size: 1rem;
        margin-left: 10vw;
        margin-top: 2vh;
        width: 85vw;
    }
}
/* End */

/* Part 6 */
.download {
    height: 20rem;
    text-align: center;

    border-radius: 30px;
    border-width: 2px;
    border-color: grey;
    border-style: dashed;
    margin-left: 20vw;
    margin-right: 20vw;
}

.download_title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 5vh;
}

.download_title span{
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0; 
    text-align: left;
}

.download_title img{
    height: 15vh;
    vertical-align: middle;
}

.download_APP {
    text-align: center;
    margin-top: 5vh;
}

.download_APP>a:first-child {
    margin-right: 1rem;
}

@media screen and (max-width:768px) {
    .download {
        height:13rem;
        text-align: center;
    
        border-radius: 30px;
        border-width: 0px;
        border-color: grey;
        border-style: dashed;
        margin-left: 0vw;
        margin-right: 0vw;
    }

    .download_title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 5vh;
    }

    .download_title span{
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0; 
        text-align: left;
    }

    .download_title img{
        height: 10vh;
        vertical-align: middle;
    }

    .download_APP img{
        text-align: center;
        margin-top: 0vh;
        width: 40vw;
    }
}
/* End */

/* Part 7 */
.APP {
    height: 30rem;
}

.APP_title {
    font-size: 3.5rem;
    margin-top: 5vh;
    margin-left: 20vw;
}

.APP_title span{
    font-size: 1.5rem;
}

.APP_content {
    font-size: 1.5rem;
    margin-left: 20vw;
    margin-top: 5vh;
    margin-right: 20vw;
}

@media screen and (max-width:768px) {
    .APP {
        height: 16rem;
    }

    .APP_I {
        margin-left: 0vw;
        width: 1.5vw;
    }

    .APP_title {
        font-size: 2rem;
        margin-top: 0vh;
        margin-left: 10vw;
    }

    .APP_title span{
        font-size: 1rem;
    }

    .APP_content {
        font-size: 1rem;
        margin-left: 10vw;
        margin-top: 2vh;
        margin-right: 10vw;
    }
}
/* End */

/* Part 7 */
.team {
    height: 45rem;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10rem;
}

.team_img1 {
    position:absolute;
    width: 80vw;
    object-fit: cover;
    padding: 50px;
    z-index: -99;
}

.team_white {
    position:absolute;
    top: 0;
    left: 0;
    width: 35vw;
    height: 35vw;
    z-index: -98;
    box-shadow:3px 3px 12px grey;
}

.team_icon {
    position:absolute;
    top: 10%;
    left: 3%;
    width: 12%;
    z-index: 2;
}

.team_title {
    font-size: 3.5rem;
    margin-top: 14vw;
}

.team_content {
    font-size: 1.5rem;
    margin-top: 2vh;
    width: 33vw;
}

.team_lens {
    position:absolute;
    top: 28vw;
    left: 55%;
    width: 40%;
    z-index: 1;
}

@media screen and (max-width:768px) {
    .team {
        height: 50vh;
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 20vh;
        margin-bottom: 1rem;
    }

    .team_img1 {
        position:absolute;
        top: -20vh;
        width: 100vw;
        object-fit: cover;
        padding: 50px;
        z-index: -99;
    }

    .team_lens {
        position:absolute;
        top: -2vh;
        left: 21vw;
        width: 60%;
        z-index: 1;
    }

    .team_white {
        display: none;
    }

    .team_icon {
        position: absolute;
        top: 10vh;
        left: 70vw;
        width: 20%;
    }

    .team_I {
        margin-left: 10vw;
        width: 1.5vw;
    }

    .team_title {
        font-size: 1.5em;
        margin-top: 18vh;
    }

    .team_content {
        font-size: 1rem;
        width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
        margin-right: 10vw;
    }
}
/* End */

/* 分隔線 */
.divider {
    position: absolute;
    text-align: center;
    width: 100%;
    
}
.divider div {
    line-height: 20px;
}
    /*CSS偽類用法*/
.divider div:after, .divider div:before {
    position: absolute;
    top: 50%;
    background: #0096DB;
    content: "";
    height: 1px;
    width: 30%;
}
    /*調整背景橫線左右距離*/
.divider div:before {
    left: 0;
}
.divider div:after {
    right: 0;
}

.divider_title {
    color: #0096DB;
    font-size: 2.5rem;
 
}

.line {
    border: 0;
    height: 1px;
    background: #0096DB;
}

@media screen and (max-width:768px) {
    .divider {
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .divider div {
        line-height: 20px;
    }
    .divider div:after, .divider div:before {
        position: absolute;
        top: 50%;
        background: #0096DB;
        content: "";
        height: 1px;
        width: 10%;
    }
    .divider div:before {
        left: 0;
    }
    .divider div:after {
        right: 0;
    }
    
    .divider_title {
        color: #0096DB;
        font-size: 1.4rem;
    }
}
/* End */

/* Part 8 */
.path {
    /* height: 10rem;  */
    margin-left: 15vw;
    margin-right: 15vw;
    
}

.path_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 5vh;
    padding: 20px;
}

.path_bottom {
    color: #0096DB;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 6rem;
}

@media screen and (max-width:768px) {
    .path {
        height:26rem;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .path_img{
        width: 110%;
        height: 100%;
        object-fit: cover;
        margin-top: 6vh;
        padding: 10px;
    }

    .path_bottom {
        color: #0096DB;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 5vh;
    }
}
/* End */

/* Part 9 */
.model {
    
    margin-top: 15rem;
    height: 50rem;
}

.model_title {
    color: #0096DB;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8vh;
}

.model_I{
    height: 50px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5vw;
}

.model_img1{
    position:absolute;
    top: 5vh;
    left: 20vw;
    width: 35vw;
    z-index: 2;
    box-shadow:3px 3px 12px grey;
}

.model_img2{
    position:absolute;
    top: 8vh;
    left: 50vw;
    width: 35vw;
    z-index: 1;
    box-shadow:3px 3px 12px grey;
}

@media screen and (max-width:768px) {
    .model {
        margin-top: 0rem;
        height: 22rem;
    }

    .model_title {
        color: #0096DB;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 3vh;
    }

    .model_I{
        height: 1.5rem;
        margin-bottom: 15px;
        margin-right: 5px;
        margin-left: 0vw;
    }

    .model_img1{
        position:absolute;
        top: 5vh;
        left: 15vw;
        width: 45vw;
        z-index: 2;
        box-shadow:3px 3px 12px grey;
    }
    
    .model_img2{
        position:absolute;
        top: 8vh;
        left: 50vw;
        width: 45vw;
        z-index: 1;
        box-shadow:3px 3px 12px grey;
    }
}
/* End */

/* Part 10 */
.magazine {
    margin-top: 32vh;
    height: 120vh;
    text-align: center;
}

.magazine_img {
    margin-top: 5vh;
    height: 100vh;
}

@media screen and (max-width:768px) {
    .magazine {
        margin-top: 0vh;
        height: 70vh;
        text-align: center;
    }
    
    .magazine_img {
        margin-top: 5vh;
        height: 50vh;
    }
}
/* End */

/* Part 11 */
.design {
    height: 55rem;
    margin-bottom: 10rem;
}

.entity_line {
    border-width: 2px;
    border-color: #0096DB;
    border-style: solid;
    margin-top: 10vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.design_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.design_title {
    position:absolute;
    left: 30%;
    top:15%;
    width:40vw;
    height:6rem;
    border-width: 2px;
    border-color: #0096DB;
    border-style: solid;
    background: #FFFFFF;

    text-align: center;
    font-size: 3rem;
    color: #0096DB;
}
.design_title>p{
    padding-top: 1%;
}
.star {
    height: 50px;
    margin-bottom: 15px;
}

@media screen and (max-width:768px) {
    .design {
        height: 15rem;
        margin-bottom: 1rem;
    }


    .entity_line {
        border-width: 2px;
        border-color: #0096DB;
        border-style: solid;
        margin-top: 15vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .design_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
    }

    .design_title {
       
        left: 12%;
        top:13%;
        width:80vw;
        height:17%;
        border-width: 2px;
        border-color: #0096DB;
        border-style: solid;
        background: #FFFFFF;
    
        
    }
    .design_title>p{
        text-align: center;
        font-size: 1.3rem;
        color: #0096DB;
     
    }

    
    .design_title>img:first-child{
        
        margin-top: -3%;
        margin-left: -70%;  
       
    }
    .design_title>img:last-child{
       
        margin-top: -14%;  
        margin-left: 27%;  
    }
    .star {
        height: 30px;
        margin-bottom: 15px;
    }
}
/* End */

/* Part 12 */
.advertising {
    height: 100vh;
    display: none;
}

@media screen and (max-width:768px) {
    .advertising {
        height: 35vh;
        /* display: block !important; */
        padding: 0 0 0 0;
        display: none !;
    }

    .advertising .col-4 {
        padding: 0 0 0 0;
    }

    .advertising img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 5vh;
    } 
}
/* End */