.introductionPC {
  display: block;
}

.introductionPhone {
  display: none;
}

.appLinkContainer {
  background: #efefef;
  width: 100%;
  padding: 5vw 0px;
}

.appLinkContainer .AppImg {
  width: 100px;
}

.appLinkContainer .AppText {
  font-size: 30px;
  font-weight: 600;
  color: #006db2;
  margin-left: 20px;
}

.appLinkContainer .AppButton {
  display: block;
  background: #fff;
  width: 250px;
  border: 1.5px solid #019bd9;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #019bd9;
  margin: 15px 25px 0px 25px;
  padding: 10px;
  transition: 0.5s;
}

.appLinkContainer .AppButton:hover,
.appLinkContainer .AppButton:active {
  text-decoration: none;
  transform: translate3d(1px, 1px, 1px);
}

@media screen and (max-width: 991px) {
  .introductionPC {
    display: none;
  }

  .introductionPhone {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .appLinkContainer .AppImg {
    width: 75px;
  }

  .appLinkContainer .AppText {
    font-size: 18px;
    font-weight: 600;
    color: #006db2;
    margin-left: 10px;
  }

  .appLinkContainer .AppButton {
    display: block;
    background: #fff;
    width: 140px;
    border: 1.5px solid #019bd9;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #019bd9;
    margin: 5px 10px 0px 10px;
    padding: 5px;
    transition: 0.5s;
  }
}
