html {
  overflow-x: hidden !important;
}
nav {
  z-index: 100;
}
body {
  position: relative;
  font-family: Microsoft JhengHei !important;
}

a {
  color: black;
}

/* 底線 */
.hr-line {
  border-top: 2px #d4d4d4 solid;
}

.logo {
  width: 200px;
}

.h3 p {
  border-width: 1px;
  border-style: solid;
}

.h3 {
  color: black;
}

.h3:focus {
  color: #0794cc;
  font-weight: 800;
  text-decoration: underline;
}

.black {
  color: black !important;
}

.size {
  margin-top: 5%;
  margin-bottom: 0px;
}

.footer {
  margin: 0px 0px 0px 7%;
}

.contain {
  margin: 0px 5% 0px 5%;
}

.text {
  padding: 10% 0px 0px 0px;
}

.containImg {
  padding: 0px 0px 0px 0px;
}

.containProduct {
  padding-bottom: 20px;
}

.buttonRadius {
  border-radius: 50px;
}

.tab-content > .col-12 img {
  width: 20%;
}

@media screen and (max-width: 768px) {
  a {
    text-decoration: none;
  }

  .hr-line {
    display: none;
  }
  .top-header {
    display: none;
  }

  .logo {
    position: absolute;
    margin-left: 14%;
    margin-top: -3%;
    width: 7rem;
  }

  .footerDesktop {
    display: none;
  }

  .tab-content > .col-12 img {
    width: 25%;
  }

  .containTitle {
    text-align: center;
    font-size: 2rem;
  }

  .size {
    margin-left: 5%;
  }
}

@media screen and (min-width: 769px) {
  .footerMobile {
    display: none;
  }
}

/* ----------- iPhone 6 ----------- */

@media screen and (max-width: 375px) {
  body {
    overflow: hidden;
  }
}

/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}

/* -----------下記開始為修改後樣式---------- */
/* PCnavbar主選單 */
.myPCnavbar {
  box-shadow: 2px 2px 1px rgba(20%, 20%, 40%, 0.2);
  background-color: #fff;
}

.myPCnavbar .dropdown-menu {
  box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
}

.myPCnavbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}

.myPCnavbar .dropdown-item:focus,
.dropdown-item:hover {
  color: #0794cc;
  background: transparent;
  font-weight: 600;
  outline: none;
}
.myPCnavbar .dropdown-item:active {
  background: #069cd9;
  color: #fff;
}

/* myIconNavbar */
.myIconNavbar {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}
.myIconNavbar a {
  color: rgba(0, 0, 0, 0.5);
}

.myIconNavbar a:focus {
  color: rgba(0, 0, 0, 0.5);
}

.nav-link.navbarLoginIcon{
  outline: none;
  color:rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}

.nav-link.navbarLoginIcon:hover,.nav-link.navbarLoginIcon:focus{
  color: black !important;
}

/* PC板Navbar icon群 */
/* Navbar member icon */
.dropdown-menu-right {
  width: 230px;
  left: -200px;
  box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
}
.menufont2 a:first-child {
  text-align: center;
  margin: auto;
  margin-top: 5px;
  color: #fff;
  width: 200px;
  background-color: #71caea;
}
.menufont2 a:last-child {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  color: #fff;
  width: 200px;
  background-color: #019bd9;
}

/* Navbar cart icon */
.dropdown-menu-right2 {
  width: 320px;
  left: -300px;
  height: 50vh;
  box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-menu-right2 a:last-child {
  text-align: center;
  margin: auto;
  margin-top: 25px;
  color: #fff;
  width: 290px;
  background-color: #019bd9;
}
/* navbar購物車商品計數 */
.countCart {
  top: 5px;
  right: -5px;
  width: 15px;
  height: 15px;
  background: #019bd9;
  border-radius: 50%;
  color: white;
  font-size: 1px;
  text-align: center;
}
.cartimg {
  margin-left: 15px;
  width: 70px;
}
.cart {
  display: inline-block;
  width: 140px;
}

.num {
  color: #949494;
  font-size: 12px;
}
.degree {
  margin-left: 38%;
  color: #949494;
  font-size: 12px;
}

/* Navbar search icon */
.dropdown-menu-right3 {
  width: 320px;
  left: -280px;
  box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
}
.dropdown-menu-right3 > .form-inline > .form-control {
  margin: auto;
}
.dropdown-menu-right3 > .form-inline > .btn-outline-primary {
  border-color: #069cd9;
  color: #069cd9;
  margin: auto;
}
.dropdown-menu-right3 > .form-inline > .btn-outline-primary:hover {
  background-color: #069cd9;
  color: #ffffff;
}

/* 手機板主選單Navbar icon群 */
@media screen and (max-width: 768px) {
  /* Navbar member icon */
  .dropdown-menu-right {
    width: 230px;
    left: -150px;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
  }
  .menufont2 a:first-child {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color: #fff;
    width: 200px;
    background-color: #71caea;
  }
  .menufont2 a:last-child {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    width: 200px;
    background-color: #019bd9;
  }

  /* Navbar cart icon */
  .dropdown-menu-right2 {
    width: 280px;
    height: 50vh;
    left: -230px;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .dropdown-menu-right2 a:last-child {
    text-align: center;
    margin: auto;
    margin-top: 25px;
    color: #fff;
    background-color: #019bd9;
  }

  /* Navbar search icon */
  .dropdown-menu-right3 {
    width: 300px;
    left: -250px;
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.3);
  }
  .dropdown-menu-right3 > .form-inline > .form-control {
    margin: auto;
    width: 65%;
  }
  .dropdown-menu-right3 > .form-inline > .btn-outline-primary {
    border-color: #069cd9;
    color: #069cd9;
    margin: auto;
  }
  .dropdown-menu-right3 > .form-inline > .btn-outline-primary:hover {
    background-color: #069cd9;
    color: #ffffff;
  }
}

/* 手機漢堡菜單按鈕 */
.hamburgerContainer {
  display: none;
}
@media screen and (max-width: 991px) {
  .hamburgerContainer {
    display: block;
    margin-top: 6px;
    margin-right: 10px;
  }

  .hamburgerContainer > .data-menu-toggle {
    outline: none;
  }

  .data-menu-toggle {
    position: relative;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  /* 初始化样式 */
  .data-menu-toggle .menu-bar,
  .data-menu-toggle .menu-bar:before,
  .data-menu-toggle .menu-bar:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #4c4c4c;
    transition: all ease-in-out 0.3s;
  }
  .data-menu-toggle .menu-bar.bar {
    top: 12px;
  }
  .data-menu-toggle .menu-bar.bar:before {
    content: "";
    top: -12px;
  }
  .data-menu-toggle .menu-bar.bar:after {
    content: "";
    top: 12px;
  }
  /* 激活样式 */
  .data-menu-toggle.active .bar {
    background-color: transparent;
  }
  .data-menu-toggle.active .bar:before {
    top: 0px;
    transform: rotate(45deg);
  }
  .data-menu-toggle.active .bar:after {
    top: 0px;
    transform: rotate(-45deg);
  }
}

.myPhoneMenu {
  display: none;
}

/* 手機主選單側邊攔 */
@media screen and (max-width: 991px) {
  .myPhoneMenu {
    display: block;
    position: fixed;
    top: 56px;
    left: -240px;
    width: 240px;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    z-index: 99;
  }
  .myPhoneMenuShow {
    transition: 0.5s;
    opacity: 1;
    left: 0px;
    height: 45%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .myPhoneMenu > .card {
    border: none;
    border-radius: 0px;
  }
  .myPhoneMenu > .card > .card-header {
    border: none;
    margin-top: 0px;
    padding: 1rem 1.25rem;
  }
  .myPhoneMenu > .card > .card-header > .btn-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    padding: 0px;
  }
  .myPhoneMenu > .card > .card-header > .btn-link:hover {
    color: #0794cc;
    font-weight: 600;
  }
  .myPhoneMenu > .card > .card-header > .btn-link:focus {
    color: #0794cc;
    font-weight: 600;
  }

  .myPhoneMenu > .card > .card-header > .btn-link > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
  }
  .myPhoneMenu > .card > .card-header > .btn-link:hover a {
    color: #0794cc;
    font-weight: 600;
  }
  .myPhoneMenu > .card > .card-header > .btn-link:focus a {
    color: #0794cc;
    font-weight: 600;
  }

  .styleListNone {
    padding: 0rem;
  }
  .styleListNone li {
    list-style: none;
    padding: 0.8rem 1.25rem;
  }
  .styleListNone li > a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
  }
  .styleListNone > li:hover a {
    color: #0794cc;
  }
  .styleListNone > li:active a {
    color: #0794cc;
  }
}
