.myLoginAndSign .modal-content {
  background: #e9ecef;
}

.my-form-modal {
  position: relative;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.my-form-modal button {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size: 1em;
  z-index: 2;
  outline: none;
  background: #fff;
  transition: 0.2s;
}

.my-form-modal .btn {
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.8em 1em 0.8em 1em !important;
  transition: 0.5s;
  border: 1px solid #ebebeb;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.my-form-modal .btn i {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.my-form-modal .close {
  font-size: 1.5rem;
  background-color: black;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 9;
  opacity: 1;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.my-form-modal .login,
.my-form-modal .signup {
  background: #80cdec;
  color: #fff;
}

.my-form-modal .login:hover,
.my-form-modal .signup:hover {
  background: #019bd9;
}

.my-form-toggle {
  position: relative;
  width: 100%;
  height: auto;
}

.my-form-toggle button {
  width: 50%;
  float: left;
  padding: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  transition: 0.2s;
  font-size: 1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.my-form-toggle button:nth-child(1) {
  border-bottom-right-radius: 20px;
}

.my-form-toggle button:nth-child(2) {
  border-bottom-left-radius: 20px;
}

#login-toggle {
  background: #019bd9;
  color: #ffff;
}

.my-form-modal form {
  position: relative;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

#login-form,
#signup-form {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}

#signup-form {
  display: none;
}

#login-form button,
#signup-form button {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.6em;
}

.my-form-modal #login-form input {
  position: relative;
  width: 100%;
  font-size: 1em;
  padding: 1.2em 1.7em 1.2em 1.7em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  font-weight: bold;
  transition: 0.4s;
  box-sizing: border-box;
}

.my-form-modal #signup-form input {
  position: relative;
  width: 95%;
  font-size: 1em;
  padding-left: 1rem;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  font-weight: bold;
  transition: 0.4s;
  box-sizing: border-box;
  margin-left: 15px;
}

.my-form-modal input:focus,
.my-form-modal input:active {
  transform: scaleX(1.02);
}

.my-form-modal input::-webkit-input-placeholder {
  color: #222;
}

.my-form-modal p {
  font-size: 16px;
  font-weight: bold;
}

.my-form-modal p a {
  color: #019bd9;
  text-decoration: none;
  transition: 0.2s;
}

.my-form-modal p a:hover {
  color: #222;
}

.my-form-modal i {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateX(-10%) translateY(-50%);
}

#signup-form .noticeText {
  font-size: 12px;
  color: rgb(240, 157, 33);
  line-height: 17.6px;
}

#signup-form .agreeText {
  color: red;
}

#signup-form .agreeText:hover {
  font-weight: 600;
  text-decoration: none;
}


@media only screen and (max-width: 575px) {
  .myLoginAndSign .modal-content {
    margin-top: 1.5rem;
  }
}

/* @media only screen and (max-width: 400px) {
  i {
    display: none !important;
  }
} */
