div.order {
  margin-top: 30px;
}

.member_hr-line {
  border-top: 2px solid #d4d4d4;
  width: 97vw;
}

.memberContainer {
  margin: 30px auto;
  width: 80%;
}

.memberContainer #myTab {
  border-bottom: 1px solid gray;
  font-size: 1.4rem;
}

.memberContainer #myTab .nav-link {
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
  color: gray;
}

.memberContainer #myTab .nav-item.show .nav-link,
#myTab .nav-link.active {
  color: #47a3da;
  background: transparent;
  border-color: none;
  border-bottom: 5px solid #47a3da;
  font-weight: 600;
}

#myTabContent {
  font-size: 1.4rem;
}

#myTabContent form {
  width: 70%;
  margin: 0 auto;
}

#myTabContent form input {
  padding-left: 1rem;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  transition: 0.4s;
  width: 100%;
}

#myTabContent form input:focus,
#myTabContent form input:active {
  transform: scaleX(1.02);
}

#myTabContent form .login {
  background: #80cdec;
  color: #fff;
  width: 35%;
  margin: 0 auto;
}

#myTabContent form .login:hover,
#myTabContent form .login:active {
  background: #019bd9;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #ebebeb;
  border-color: #ebebeb;
  padding: 0;
  margin-top: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default > .panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default > .panel-heading a:hover {
  background: #80cdec;
  color: #fff;
  text-decoration: none;
}

.panel-default > .panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
  background-color: #80cdec;
  color: #fff;
}

.panel-default > .panel-heading a span {
  position: absolute;
  top: 5px;
  right: 15px;
}

.panel-default > .panel-heading a[aria-expanded="true"] span:after {
  content: "\2212";
}

.panel-default > .panel-heading a[aria-expanded="false"] span:after {
  content: "\002b";
}

.orderDetailedImg{
  max-width: 150px;
}

.likeDelete {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: black;
  color: #fff;
  text-align: center;
  line-height: 27px;
  cursor: pointer;
}
.likeDelete:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .order {
    text-align: center;
    margin-bottom: 20px;
  }

  .member_hr-line {
    display: none;
  }

  .memberContainer {
    width: 95%;
  }

  .memberContainer #myTab {
    border-bottom: 1px solid gray;
    font-size: 1.2rem;
  }

  #myTabContent {
    font-size: 1rem;
  }

  #myTabContent form {
    width: 95%;
    margin: 0 auto;
  }
}
