span.txt {
  margin-left: 30px;
}
.hr-line {
  border-top: 2px solid #d4d4d4;
  width: 97vw;
}
.order {
  margin-top: 20px;
}

.storeText {
  padding-top: 1rem;
}
.card-bodyin {
  padding-top: 20px;
}


.sideBar.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 10%;
  border-radius: 0%;
}

.sideBar.card .card-header{
  font-weight: 600;
  font-size: 1.2rem;
}

.sideBar.card li{
  cursor: pointer;
}

.sideBar.card li:hover{
  color: #0794cc;
  font-weight: 600;
}

.sideBar.card li:focus{
  color: #0794cc;
  font-weight: 600;
  outline: none;
}

.sideBar.card li:active{
  color: #0794cc;
  font-weight: 600;
}


/* .sideBar .card .card-header{
  margin-top:0px;
  padding: 1rem
} */

/* .sideBar .card .card-header .btn{
  padding: 0px;
} */



/* .sideBar .list-group-item {
  background: rgba(233, 233, 233, 0.486);
  border-radius: 0%;
  border: none;
}

.sideBar .list-group-item:hover {
  color: #0794cc;
  font-weight: 600;
}

.sideBar .list-group-item:focus {
  background-color: #0794cc;
  color: #fff;
} */

select.form-control {
  text-align-last: center;
  border-radius: 10px;
  margin-bottom: 10px;
}
input.form-control {
  text-align-last: center;
}

.radiusBorder {
  border: 1px solid #47a3da;
  border-radius: 20px; /* 高度 */
  margin: 0px 5px 0px 5px;
}

.modalWidth {
  min-width: 70%;
  max-width: 89%;
  padding-top: 3rem;
  padding-right: 1px;
}

.containProduct {
  cursor: pointer;
}

.containProduct a {
  font-size: 1.4rem;
}

.tab {
  width: 100%;
}

.tab a {
  width: 30%;
  color: gray;
  text-align: center;
  border-bottom: 1px;
  border-bottom: 1px solid gray;
}

.tab .active {
  color: #47a3da;
  border-bottom: 5px solid #47a3da;
}
.storeDetail {
  padding: 0 3% 0 3%;
  color: gray;
}

.storeDetailTitle {
  border-left: 5px solid #47a3da;
  margin: 10px 0 1rem 1rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.storeDetailText {
  position: relative;
  left: 5rem;
  padding-right: 10rem;
  font-size: 1.5rem;
}

.tab-content-img {
  width: 100%;
}

.storeIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.storeIcon a {
  padding: 0.5vw;
}

.myStoreProducts {
  flex: 0 0 75%;
  max-width: 75%;
}

@media screen and (max-width: 991px) {
  .sideBar {
    display: none;
  }

  .storeTitle {
    text-align: center;
    padding-bottom: 1rem;
  }

  select.form-control {
    width: 100%;
  }
  input.form-control {
    width: 100%;
  }
  .order {
    text-align: center;
    margin-bottom: 20px;
  }
  .order .line {
    display: inline-block;
    width: 20%;
    border-top: 1px solid #ccc;
  }
  .order .txt {
    vertical-align: -8px;
    margin-left: 0px;
  }
  .hr-line {
    display: none;
  }
  .storeDetailText {
    position: relative;
    left: 0rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  .containProduct a {
    font-size: 0.8rem;
  }

  .myStoreProducts {
    flex: none;
    max-width: none;
  }
}
